<template>
    <header class="fixed bg-white w-full p-2 border-b-2 z-10">
        <div class="flex flex-wrap">
            <div class="w-1/2">
                <router-link to="/" @click.native="onClickedLink()">Home</router-link>
            </div>
            <div class="w-1/2">    
                <Identidade />
            </div>
        </div>
    </header>
</template>

<script>
import Identidade from './identidade'
export default {
    name: 'cabecalho',
    components: {
        Identidade
    },
    methods: {
        async onClickedLink() {
            try {
                await this.$store.dispatch('adm/setModulo', '')
                .then( (result) => {
                    this.$store.commit('adm/setModulo', result)
                })
            } catch (error) {
                console.log(error)
            }
        }
    }
}
</script>