<template>
    <div id="corpo" class="flex flex-grow flex-wrap">
        <router-view />
    </div>
</template>

<script>
export default {
    name: 'corpo',
}
</script>

<style scoped>
    #corpo {
        padding-top: 50px; 
    }
</style>