<template>
    <div class="relative">
        <button @click="isOpen = !isOpen" class="relative z-10 block h-8 w-8 rounded-full overflow-hidden border-2 border-gray-600 focus:outline-none focus:border-blue-300">
            <img class="h-full w-full object-cover" src="https://avatars1.githubusercontent.com/u/2251025?v=4" alt="">
        </button>
        <button v-if="isOpen" @click="isOpen = false" tabindex="-1" class="fixed inset-0 h-full w-full bg-black opacity-50 cursor-default"></button>
        <div v-if="isOpen" class="absolute right-0 mt-2 py-2 w-40 bg-white rounded-lg shadow-xl">
            <div class="flex flex-wrap text-center justify-center border-b-2">
                <div class="w-12 h-12">
                    <img class="h-full w-full object-cover" src="https://avatars1.githubusercontent.com/u/2251025?v=4" alt="">
                </div>
                <div class="w-full mb-2">
                    <span class="font-semibold text-gray-600 text-sm mr-2">Fábio Carvalho</span>
                </div>
            </div>
            <div class="border-1"></div>
            <button @click="onClickedMenuItem(1)" class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Perfil</button>
            <button @click="onClickedMenuItem(2)" class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Configurações</button>
            <button @click="onClickedMenuItem(3)" class="block w-full text-left px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">Sair</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'dropDownID',
    data() {
        return {
            isOpen: false
        }
    },
    created() {
        const handleEscape = (e) => {
            if (e.key === 'ESC' || e.key === 'Escape') {
                this.isOpen = false
            }
        }
        document.addEventListener('keydown', handleEscape)

        this.$once('hook:beforeDestroy', () => {
            document.removeEventListener('keydown', handleEscape)
        })
    },
    methods: {
        onClickedMenuItem(opcao) {
            this.isOpen = false
            if (opcao === 1) {
            } else if (opcao === 2) {
            } else if (opcao === 3) {
            }
        }
    }
}
</script>