<template>
    <div class="w-full">
        <div class="block flex justify-end items-center px-2">
            <DropDownID />
        </div>
    </div>
</template>

<script>
import DropDownID from '@/components/layout/dropDownID'
export default {
    name: 'identidade',
    components: {
        DropDownID
    }
}
</script>