<template>
    <div class="modal absolute w-full h-full top-0 left-0 flex items-center justify-center">
        <div class="modal-overlay absolute w-full h-full bg-black opacity-25 top-0 left-0 cursor-pointer"></div>
        <div class="absolute w-1/2 h-auto bg-white rounded-sm shadow-lg flex flex-col items-center justify-center">
            <div class="flex w-full text-center">
                <div class="w-full bg-gray-700 mb-4">
                    <span class="font-bold text-white pl-2">Mensagem de Erro</span>
                </div>    
            </div>
            <div class="flex w-full p4">
               <!-- <div class="w-full mx-2 bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert"> -->
               <div class="w-full mx-2 text-orange-700 p-4" role="alert">
                    <p class="font-bold">Atenção !</p>
                    <p class="text-justify">{{getMessageError}}</p>
                </div>
            </div>
            <div class="flex justify-end pt-2 mb-4">
                <button 
                    @click="onClickedFechar" 
                    class="focus:outline-none px-4 bg-teal-500 p-3 ml-3 rounded-lg text-white hover:bg-teal-400"
                >Fechar</button>
            </div>
        </div>
    </div>    
</template>        

<script>

import { mapGetters } from 'vuex'

export default {
    name: 'modalError',
    methods: {
        onClickedFechar() {
            this.$emit('onFechar')
        }
    },
    computed: {
        ...mapGetters('adm', ['getMessageError'])
  }    
}
</script>
        