<template>
    <!-- <footer class='fixed bottom-0 bg-white w-full p-2 z-10'> -->
    <footer class='fixed bottom-0 bg-gray-200 h-12 items-center w-full p-2'>
        <div class="w-full">© Copyright 2019</div>
    </footer>
</template>

<script>
export default {
    name: 'rodape'
}
</script>