<template>
    <div id="cardMod" class="relative rounded overflow-hidden shadow-lg text-gray-500">
        <div class="px-6 py-4">
            <button class="font-bold text-xl text-white mb-2" @click="onClikedLink()">
                {{modulo.item}}
            </button>
            <p class="text-gray-500 text-base">
            {{modulo.descricao}}
            </p>
        </div>
        <div id="rodape" class="w-full px-6 py-4 absolute bottom-0">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#{{modulo.titulo}}</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#{{modulo.titulo}}</span>
            <!-- <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span> -->
        </div>
    </div>
</template>

<script>
export default {
    name: 'cardModulos',
    props: {
        modulo: {
            type: Object,
            required: true
        }
    },
    methods: {
        async onClikedLink() {
            try {
                await this.$store.dispatch('adm/setModulo', this.modulo)
                .then( (result) => {
                    this.$store.commit('adm/setModulo', result)
                })
                this.$router.push({name: 'escolaHome'})
            } catch (error) {
                console.log(error)
            }
        }

    }
}
</script>

<style scoped>

#cardMod {
    width: 12rem;
    min-height: 15rem;
    background-color: #083c5d;
}

#rodape {
    background-color: #007B9E;
}

.circle {
  background: #456BD9;
  clip-path: circle(50%);
  height: 5em;
  width: 5em;
}

</style>