<template>
    <div class="flex flex-wrap justify-center md:justify-between">
        <div class="mb-4" v-for="modulo in modulos" :key="modulo.titulo">
            <CardModulos :modulo="modulo" />
        </div>
    </div>
</template>

<script>
import CardModulos from '@/components/base/cardModulos'

export default {
    name: 'helpModulos',
    components: {
        CardModulos
    },
    created() {
        this.obterDados()
    },
    data() {
        return {
            modulos: []
        }
    },

    methods: {
        async obterDados() {
            try {
                this.$store.dispatch('adm/setLoading', true)
                const dados = await this.$store.dispatch('adm/getModulos')
                this.modulos = dados
            } catch (error) {
                this.$store.commit('adm/setLoading', false)
                const errorObj = {
                    show: false,
                    message: null
                }
                errorObj.show = true
                errorObj.message = error
                this.$store.commit('adm/setError', errorObj)
            } finally {
                await this.$store.dispatch('adm/setLoading', false)
            }
        }
    }
}
</script>