<template>
    <div class="text-left text-gray-500">
        <div class="flex flex-wrap">
            <div  class="w-full mb-2" v-for="(linha,index) in letras" :key="index">
                <!-- <div class="flex-1">
                    <button class="text-blue-300 hover:text-blue-500 p-2 mr-1">Todos</button>
                </div> -->
                <!-- <div class="flex-1 bg-gray-200"> -->
                    <ul class="flex">
                        <li class="mr-1 bg-gray-200 hover:bg-blue-600 text-center" v-for="letra in linha" :key="letra">
                        <!-- <li class="mr-1" v-for="letra in linha" :key="letra"> -->
                            <!-- <button class="justify-center text-xs text-blue-300 hover:text-white hover:text-2xl hover:font-bold p-2 bg-gray-200 hover:bg-blue-600 w-5 md:w-10 lg:w-12">{{letra}}</button> -->
                            <button class="focus:outline-none text-xs text-blue-300 hover:text-white hover:text-2xl hover:font-bold p-2 bg-gray-200 hover:bg-blue-600 w-5 md:w-10 lg:w-12">{{letra}}</button>
                        </li>
                    </ul>
                <!-- </div> -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'dicionario',
    data() {
        return {
            letras: [
                [ 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'L', 'M' ], 
                [ 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'X', 'Z']
            ]
        }
    }
}
</script>