<template>
    <div class="w-full md:w-8/12 mx-auto my-auto mt-4 bg-gray-200 text-gray-500 rounded-lg p-2">
        <div v-for="index of tamTexto" :key="index" class="hover:bg-gray-100">
            <div class="flex">
                <div class="flex-grow-0 px-2">
                    <span>{{getSearchText}} {{index}}</span>
                </div>
                <div class="flex-1 px-2">
                    <span>Descricao {{getSearchText}} {{index}}</span>
                </div>
                <div class="flex-grow-0 px-2">
                    <span>{{getSearchText}} {{index}}</span>
                </div>
            </div>
        </div>
      </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'searchResultList',
    data() {
        return {
            modulos: []
        }
    },
    methods: {
        async obterDados() {
            try {
                this.$store.dispatch('adm/setLoading', true)
                const dados = await this.$store.dispatch('adm/getModulos')
                this.modulos = dados
            } catch (error) {
                this.$store.commit('adm/setLoading', false)
                const errorObj = {
                    show: false,
                    message: null
                }
                errorObj.show = true
                errorObj.message = error
                this.$store.commit('adm/setError', errorObj)
            } finally {
                await this.$store.dispatch('adm/setLoading', false)
            }
        }
    },
    computed: {
        ...mapGetters('adm', [
            'getSearchText',
        ]),

        listModulos() {
            let resultado = []
            // if (this.modulos) {

            // }
        },

        tamTexto() {
            return (this.getSearchText) ? this.getSearchText.length : 0
        }
    }
}
</script>