<template>
    <div class="w-full md:w-8/12 mx-auto my-auto mt-4">
        <div class="flex flex-wrap text-center">
            <div :class="classItems(showDicionario)">
                <button class="focus:outline-none" @click="onClickedDicionario()">
                    <span class="text-blue-300 hover:text-blue-500">
                        <i class="fas fa-spell-check"></i>&nbsp;Dicionário
                    </span>
                </button>
            </div>
            <div :class="classItems(showModulos)">
                <button class="focus:outline-none" @click="onClickedModulos()">
                    <span class="text-blue-300 hover:text-blue-500">
                        <i class="fas fa-cubes"></i>&nbsp;Módulos
                    </span>
                </button>
            </div>
            <div :class="classItems(showHelp)">
                <button class="focus:outline-none" @click="onClickedHelp()">
                    <span class="text-blue-300 hover:text-blue-500">
                        <i class="far fa-question-circle"></i>&nbsp;Help
                    </span>
                </button>
            </div>
            <div class="flex w-full mt-4 p-2 border rounded-lg"
                v-if="showAnything"
            >
                <div class="w-full" v-if="showDicionario">
                    <HelpDicionario />
                </div>
                <div class="w-full" v-if="showModulos">
                    <HelpModulos />
                </div>
                <div class="w-full" v-if="showHelp">
                    <Help />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HelpDicionario from '@/components/base/helpDicionario'
import HelpModulos from '@/components/base/helpModulos'
import Help from '@/components/base/help'
export default {
    name: 'searchHelp',
    components: {
        HelpDicionario,
        HelpModulos,
        Help
    },
    data() {
        return {
            showHelp: false,
            showModulos: false,
            showDicionario: false
        }
    },
    methods: {
        onClickedDicionario() {
            this.showDicionario = !this.showDicionario
            this.showHelp = false
            this.showModulos = false
        },
        onClickedModulos() {
            this.showHelp = false
            this.showModulos = !this.showModulos
            this.showDicionario = false
        },
        onClickedHelp() {
            this.showDicionario = false
            this.showModulos = false
            this.showHelp = !this.showHelp
        },
        classItems(selected) {
            return (selected) ? "w-1/3 bg-gray-300" : "w-1/3"
        }
    },
    computed: {
        showAnything() {
            return (this.showDicionario||this.showModulos||this.showHelp)
        },
    }
}
</script>