<template>
  <div class="container mx-auto py-10">
    <div class="flex flex-wrap m-6 items-center">
      <!-- <div class="w-full text-center h-12">
        <button class="bg-blue-400 p-2 focus:outline-none rounded-lg" v-on:click="onclicked">Btn Error</button>&nbsp;
        <button class="bg-red-400 p-2 focus:outline-none rounded-lg" v-on:click="onclickedLoading">Btn Loading</button>
      </div> -->
      <Search 
        v-on:doSearchEnter="enterSearch($event)"
        v-on:doSearchUp="upSearch($event)"
      />
      <SearchHelp v-if="tamTexto == 0"/>
      <SearchResultList v-if="tamTexto > 0"></SearchResultList>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Search from '@/components/base/search'
import SearchHelp from '@/components/base/searchHelp'
import SearchResultList from '@/components/base/searchResultList'

export default {
  name: 'HelloWorld',
  
  components: {
    Search,
    SearchHelp,
    SearchResultList
  },
  
  props: {
    msg: String
  },

  created() {
    this.resetSearch()
  },

  methods: {

    async resetSearch() {
      try {
        // this.$store.dispatch('adm/setLoading', true)
        await this.$store.dispatch('adm/setSearchText', '')
      } catch (error) {
          // this.$store.commit('adm/setLoading', false)
          const errorObj = {
              show: false,
              message: null
          }
          errorObj.show = true
          errorObj.message = error
          this.$store.commit('adm/setError', errorObj)
      } finally {
        // await this.$store.dispatch('adm/setLoading', false)
      }
    },  

    async enterSearch(texto) {
      try {
        // console.log('KeyUp.Enter', texto)
        await this.$store.dispatch('adm/setSearchText', texto)
        
      } catch (error) {
        console.log(error)
      }
    },

    async upSearch(texto) {
      try {
        // console.log('KeyUp', texto)
        await this.$store.dispatch('adm/setSearchText', texto)
        
      } catch (error) {
        console.log(error)
      }
    },

    onclicked() {
      const errorObj = {
          show: false,
          message: null
      }
      errorObj.show = true
      errorObj.message = "Mensagem Teste"
      this.$store.commit('adm/setError', errorObj)
    },

    onclickedLoading() {
      this.$store.dispatch('adm/setLoading', true)
      setTimeout(() => {
       this.$store.dispatch('adm/setLoading', false) 
      }, 3000)
    }

  },

  computed: {
    ...mapGetters('adm', [
        'getSearchText',
    ]),

    tamTexto() {
        return (this.getSearchText) ? this.getSearchText.length : 0
    }
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.circle {
  background: #456BD9;
  clip-path: circle(50%);
  height: 5em;
  width: 5em;
}

</style>
