<template>
    <div class="flex bg-blue-200 p-2">
        <div class="w-full">
            <span class="text-3xl">{{getModulo.item}} - {{getModulo.descricao}}</span>
            <div v-for="menu in getModulo.submenu" :key="menu.item">
                <p class="text-base">{{menu.item}} - {{menu.descricao}}</p>
            </div>
            <!-- <p>{{getModulo}}</p> -->
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'escolaLayout',
    computed: {
        ...mapGetters('adm', [
            'getModulo'
        ])
    },
}
</script>