<template>
  <div class="antialiased w-full">
    <cabecalho />
    <corpo />
    <rodape />
    <ModalLoading v-if="getLoading" />
    <ModalError v-if="getShowError" v-on:onFechar="closeModalError" />
  </div>
</template>

<script>
import Cabecalho from '@/components/layout/cabecalho'
import Corpo from '@/components/layout/corpo'
import Rodape from '@/components/layout/rodape'
import { mapGetters } from 'vuex'
import ModalLoading from '@/components/layout/modalLoading'
import ModalError from '@/components/layout/modalError'

export default {
  name: 'app',
  components: {
    Cabecalho,
    Corpo,
    Rodape,
    ModalLoading,
    ModalError
  },
  computed: {
    ...mapGetters('adm', [
        'getLoading',
        'getShowError'
      ])
  },
  
  methods: {
    closeModalError() {
      this.$store.commit('adm/resetError')
    }
  }

}
</script>

<style src="./assets/css/tailwind.css"></style>